#background-img {
  filter: blur(calc(0.17vw)) brightness(calc(80%));
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%);
  border-top: 1px solid coral;
  z-index: 1;
  display: block;
}


/* carousel-text */
@media (max-width: 99999px) and (min-width: 1000px) {
  #carousel-text {
    font-size: 32px;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  #carousel-text {
    font-size: 28px;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #carousel-text {
    font-size: 26px;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #carousel-text {
    font-size: 22px;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  #carousel-text {
    font-size: 18px;
  }
}

@media (max-width: 380px) and (min-width: 330px) {
  #carousel-text {
    font-size: 14px;
  }
}

@media (max-width: 330px) and (min-width: 240px) {
  #carousel-text {
    font-size: 9.7px;
  }
}

@media (max-width: 99999999px) and (min-width: 200px) {
  #star {
    font-size: 100% !important;
  }
}

@media (max-width: 999999px) and (min-width: 0px) {
  #title, #slogan, #carousel-text {
    text-shadow: calc(3px) calc(3px) calc(5px) black;
  }
}

@media (max-width: 99999999px) and (min-width: 1400px) {
  #CQC-logo {
    top: 5% !important;
    width: 27em
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  #CQC-logo {
    width: 21em
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #CQC-logo {
    width: 19em
  }
}


@media (max-width: 1000px) and (min-width: 900px) {
  #CQC-logo {
    width: 17em
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  #CQC-logo {
    width: 15em
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  #CQC-logo {
    width: 12em
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #CQC-logo {
    width: 10em
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #CQC-logo {
    width: 9em
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  #CQC-logo {
    width: 7em
  }
}

@media (max-width: 400px) and (min-width: 0px) {
  #CQC-logo {
    width: 6.4em;
  }
}