#background-img {
  filter: blur(calc(0.07vw)) brightness(calc(80%));
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%);
  border-top: 1px solid coral;
  z-index: 1;
  display: block;
}


/* carousel-text */
@media (max-width: 99999px) and (min-width: 1000px) {
  #carousel-text {
    font-size: 30px;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  #carousel-text {
    font-size: 26px;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #carousel-text {
    font-size: 24px;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #carousel-text {
    font-size: 20px;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  #carousel-text {
    font-size: 16px;
  }
}

@media (max-width: 380px) and (min-width: 330px) {
  #carousel-text {
    font-size: 12px;
  }
}

@media (max-width: 330px) and (min-width: 240px) {
  #carousel-text {
    font-size: 9px;
  }
}

@media (max-width: 240px) and (min-width: 0px) {
  #carousel-text {
    font-size: 8px;
  }
}

@media (max-width: 99999999px) and (min-width: 200px) {
  #star {
    font-size: 100% !important;
  }
}

@media (max-width: 999999px) and (min-width: 0px) {
  #title, #slogan, #carousel-text {
    text-shadow: calc(3px) calc(3px) calc(5px) black;
  }
}

@media (max-width: 99999999px) and (min-width: 1400px) {
  #CQC-logo {
    top: 5% !important;
    width: 25em
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  #CQC-logo {
    width: 19em
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #CQC-logo {
    width: 16em
  }
}


@media (max-width: 1000px) and (min-width: 900px) {
  #CQC-logo {
    width: 14em
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  #CQC-logo {
    width: 13em
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  #CQC-logo {
    width: 10em
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #CQC-logo {
    width: 8.5em
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #CQC-logo {
    width: 7em
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  #CQC-logo {
    width: 5em
  }
}

@media (max-width: 400px) and (min-width: 300px) {
  #CQC-logo {
    width: 5em;
  }
}

@media (max-width: 300px) and (min-width: 0px) {
  #CQC-logo {
    width: 4em;
  }
}