#care-radio {
  background-color: rgb(78, 78, 78);
  border: 1px solid black;
}
#care-radio:active {
  background-color: "coral";
}
#job-radio {
  background-color: rgb(78, 78, 78);
  border: 1px solid black;
}

.form-check-input:checked {
  background-image: none;
  background-color: #ff6b3d !important;
}

#for-who-myself,
#for-who-another,
#can-drive,
#cannot-drive,
#willing,
#not-willing {
  background-color: rgb(78, 78, 78);
  border: 1px solid black;
}

#care-req-1,
#care-req-2,
#care-req-3,
#care-req-4,
#care-req-5,
#care-req-6,
#care-req-7,
#care-req-8,
#care-req-9 {
  background-color: rgb(78, 78, 78);
  border: 1px solid black;
}

.yes-or-no {
  padding-left: 50%;
  white-space: nowrap;
}

.form-control {
  background-color: #e7e7e7aa;
  border-color: rgba(0, 0, 0, 0.529);
}

.longer-questions {
  padding-left: 21%;
  white-space: nowrap;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #ff6b3d !important;
  font-size: 30px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: rgba(71, 210, 71, 0.727) !important;
}