.carousel-control-next-icon {
  background-color: black;
  background-size: 70% 90%;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-color: black;
  background-size: 70% 90%;
  border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

.carousel-indicators .active {
  background-color: #ff6b3d;
}

.opening, .closing {
  font-size: 100px;
  color: rgba(255, 127, 80, 0.739);
  font-family: "Alex Brush", cursive;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.opening {
  direction: rtl;
  margin-top: -37px;
}
.closing {
  direction: ltr;
}

@media (max-width: 500px) and (min-width: 0px) {
  .opening, .closing {
    font-size: 100px;
  }
}

@media (max-width: 1300px) and (min-width: 500px) {
  .opening, .closing {
    font-size: 150px;
  }
}

@media (max-width: 999999px) and (min-width: 1300px) {
  .opening, .closing {
    font-size: 200px;
  }
}

h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  width: 150px;
  text-align: center;
}

.review-text {
  position: relative;
  padding: 20px;
  text-align: center;
}

@media (max-width: 300000px) and (min-width: 900px) {
  #review-carousel {
    height: 500px;
  }
}

@media (max-width: 1300px) and (min-width: 500px) {
  #review-carousel {
    height: 400px;
  }
}

@media (max-width: 500px) and (min-width: 0px) {
  #review-carousel {
    height: 270px;
  }
}

@media (max-width: 300000px) and (min-width: 900px) {
  .review {
    font-size: 24px;
  }
}

@media (max-width: 1300px) and (min-width: 500px) {
  .review {
    font-size: 20px;
  }
}

@media (max-width: 500px) and (min-width: 0px) {
  .review {
    font-size: 14px;
  }
}

@media (max-width: 300000px) and (min-width: 900px) {
  h5 {
    width: 20%
  }
}

@media (max-width: 1300px) and (min-width: 500px) {
  h5 {
    width: 24%
  }
}

@media (max-width: 500px) and (min-width: 0px) {
  .review-wrapper {
    max-width: 75%
  }
}


