#background-img {
  filter: blur(calc(0.15vw)) brightness(calc(80%));
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
  border-top: 1px solid coral;
  z-index: 1;
}

/* carousel-text */
@media (max-width: 99999px) and (min-width: 1000px) {
  #carousel-text {
    font-size: 32px;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  #carousel-text {
    font-size: 28px;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #carousel-text {
    font-size: 26px;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #carousel-text {
    font-size: 22px;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  #carousel-text {
    font-size: 18px;
  }
}

@media (max-width: 380px) and (min-width: 330px) {
  #carousel-text {
    font-size: 14px;
  }
}

@media (max-width: 330px) and (min-width: 240px) {
  #carousel-text {
    font-size: 9.7px;
  }
}

/* button */
@media (max-width: 2000000px) and (min-width: 1900px) {
  #inquiry-button {
    top: 72.5%;
    font-size: 54px;
  }
}

@media (max-width: 1900px) and (min-width: 1800px) {
  #inquiry-button {
    top: 72.5%;
    font-size: 54px;
  }
}

@media (max-width: 1800px) and (min-width: 1700px) {
  #inquiry-button {
    top: 67.5%;
    font-size: 54px;
  }
}

@media (max-width: 1700px) and (min-width: 1600px) {
  #inquiry-button {
    top: 67.5%;
    font-size: 54px;
  }
}

@media (max-width: 1600px) and (min-width: 1500px) {
  #inquiry-button {
    top: 70%;
    font-size: 48px;
  }
}

@media (max-width: 1500px) and (min-width: 1300px) {
  #inquiry-button {
    top: 70%;
    font-size: 48px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  #inquiry-button {
    top: 67%;
    font-size: 42px;
  }
}

@media (max-width: 1200px) and (min-width: 1080px) {
  #inquiry-button {
    top: 67%;
    font-size: 32px;
  }
}

@media (max-width: 1080px) and (min-width: 980px) {
  #inquiry-button {
    top: 65%;
    font-size: 28px;
  }
}

@media (max-width: 980px) and (min-width: 880px) {
  #inquiry-button {
    top: 67%;
    font-size: 28px;
  }
}

@media (max-width: 980px) and (min-width: 880px) {
  #inquiry-button {
    top: 67%;
    font-size: 28px;
  }
}

@media (max-width: 880px) and (min-width: 800px) {
  #inquiry-button {
    top: 63%;
    font-size: 28px;
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  #inquiry-button {
    top: 64%;
    font-size: 26px;
  }
}

@media (max-width: 700px) and (min-width: 650px) {
  #inquiry-button {
    top: 66%;
    font-size: 24px;
  }
}

@media (max-width: 650px) and (min-width: 520px) {
  #inquiry-button {
    top: 68%;
    font-size: 20px;
  }
}

@media (max-width: 520px) and (min-width: 480px) {
  #inquiry-button {
    top: 70%;
    font-size: 20px;
  }
}

@media (max-width: 480px) and (min-width: 440px) {
  #inquiry-button {
    top: 74%;
    font-size: 18px;
  }
}

@media (max-width: 440px) and (min-width: 400px) {
  #inquiry-button {
    top: 73%;
    font-size: 18px;
  }
}

@media (max-width: 400px) and (min-width: 360px) {
  #inquiry-button {
    top: 72%;
    font-size: 17px;
  }
}

@media (max-width: 380px) and (min-width: 340px) {
  #inquiry-button {
    top: 75%;
    font-size: 17px;
  }
}

@media (max-width: 340px) and (min-width: 280px) {
  #inquiry-button {
    top: 74%;
    font-size: 16px;
  }
}

@media (max-width: 280px) and (min-width: 239px) {
  #inquiry-button {
    top: 74.5%;
    font-size: 12px;
  }
}

/* title */
@media (max-width: 9999999px) and (min-width: 3000px) {
  #title {
    font-size: 260px !important;
    top: 1530% !important;
  }
}

@media (max-width: 3000px) and (min-width: 2900px) {
  #title {
    font-size: 260px !important;
    top: 1530% !important;
  }
}

@media (max-width: 2900px) and (min-width: 2800px) {
  #title {
    font-size: 260px !important;
    top: 1490% !important;
  }
}

@media (max-width: 2800px) and (min-width: 2700px) {
  #title {
    font-size: 260px !important;
    top: 1460% !important;
  }
}

@media (max-width: 2700px) and (min-width: 2600px) {
  #title {
    font-size: 260px !important;
    top: 1430% !important;
  }
}

@media (max-width: 2600px) and (min-width: 2500px) {
  #title {
    font-size: 260px !important;
    top: 1400% !important;
  }
}

@media (max-width: 2500px) and (min-width: 2400px) {
  #title {
    font-size: 260px !important;
    top: 1360% !important;
  }
}

@media (max-width: 2400px) and (min-width: 2300px) {
  #title {
    font-size: 260px !important;
    top: 1320% !important;
  }
}

@media (max-width: 2300px) and (min-width: 2200px) {
  #title {
    font-size: 260px !important;
    top: 1300% !important;
  }
}

@media (max-width: 2200px) and (min-width: 2100px) {
  #title {
    font-size: 250px !important;
    top: 1220% !important;
  }
}

@media (max-width: 2100px) and (min-width: 2000px) {
  #title {
    font-size: 230px !important;
    top: 1150% !important;
  }
}

@media (max-width: 2000px) and (min-width: 1900px) {
  #title {
    font-size: 210px !important;
    top: 1100% !important;
  }
}

@media (max-width: 1900px) and (min-width: 1800px) {
  #title {
    font-size: 210px !important;
    top: 1050% !important;
  }
}

@media (max-width: 1800px) and (min-width: 1700px) {
  #title {
    font-size: 185px !important;
    top: 970% !important;
  }
}

@media (max-width: 1700px) and (min-width: 1600px) {
  #title {
    font-size: 150px !important;
    top: 870% !important;
  }
}

@media (max-width: 1600px) and (min-width: 1500px) {
  #title {
    font-size: 150px !important;
    top: 830% !important;
  }
}

@media (max-width: 1500px) and (min-width: 1400px) {
  #title {
    font-size: 150px !important;
    top: 780% !important;
  }
}

@media (max-width: 1400px) and (min-width: 1350px) {
  #title {
    font-size: 120px !important;
    top: 730% !important;
  }
}

@media (max-width: 1350px) and (min-width: 1300px) {
  #title {
    font-size: 120px !important;
    top: 710% !important;
  }
}

@media (max-width: 1300px) and (min-width: 1250px) {
  #title {
    font-size: 120px !important;
    top: 700% !important;
  }
}

@media (max-width: 1250px) and (min-width: 1200px) {
  #title {
    font-size: 120px !important;
    top: 680% !important;
  }
}

@media (max-width: 1200px) and (min-width: 1050px) {
  #title {
    font-size: 96px !important;
    top: 610% !important;
  }
}

@media (max-width: 1050px) and (min-width: 1000px) {
  #title {
    font-size: 88px !important;
    top: 550% !important;
  }
}

@media (max-width: 1000px) and (min-width: 950px) {
  #title {
    font-size: 68px !important;
    top: 575% !important;
  }
}

@media (max-width: 950px) and (min-width: 900px) {
  #title {
    font-size: 68px !important;
    top: 550% !important;
  }
}

@media (max-width: 900px) and (min-width: 850px) {
  #title {
    font-size: 64px !important;
    top: 525% !important;
  }
}

@media (max-width: 850px) and (min-width: 800px) {
  #title {
    font-size: 64px !important;
    top: 495% !important;
  }
}

@media (max-width: 800px) and (min-width: 750px) {
  #title {
    font-size: 54px !important;
    top: 470% !important;
  }
}

@media (max-width: 750px) and (min-width: 700px) {
  #title {
    font-size: 54px !important;
    top: 445% !important;
  }
}

@media (max-width: 700px) and (min-width: 650px) {
  #title {
    font-size: 52px !important;
    top: 440% !important;
  }
}

@media (max-width: 650px) and (min-width: 600px) {
  #title {
    font-size: 52px !important;
    top: 420% !important;
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  #title {
    font-size: 50px !important;
    top: 460% !important;
  }
}

@media (max-width: 550px) and (min-width: 500px) {
  #title {
    font-size: 50px !important;
    top: 430% !important;
  }
}

@media (max-width: 500px) and (min-width: 475px) {
  #title {
    font-size: 48px !important;
    top: 480% !important;
  }
}

@media (max-width: 475px) and (min-width: 450px) {
  #title {
    font-size: 48px !important;
    top: 460% !important;
  }
}

@media (max-width: 450px) and (min-width: 430px) {
  #title {
    font-size: 48px !important;
    top: 490% !important;
  }
}

@media (max-width: 430px) and (min-width: 400px) {
  #title {
    font-size: 48px !important;
    top: 470% !important;
  }
}

@media (max-width: 400px) and (min-width: 380px) {
  #title {
    font-size: 46px !important;
    top: 445% !important;
  }
}

@media (max-width: 380px) and (min-width: 360px) {
  #title {
    font-size: 44px !important;
    top: 490% !important;
  }
}

@media (max-width: 360px) and (min-width: 340px) {
  #title {
    font-size: 42px !important;
    top: 460% !important;
  }
}

@media (max-width: 340px) and (min-width: 330px) {
  #title {
    font-size: 40px !important;
    top: 440% !important;
  }
}

@media (max-width: 330px) and (min-width: 320px) {
  #title {
    font-size: 40px !important;
    top: 610% !important;
  }
}

@media (max-width: 320px) and (min-width: 300px) {
  #title {
    font-size: 38px !important;
    top: 575% !important;
  }
}

@media (max-width: 300px) and (min-width: 275px) {
  #title {
    font-size: 34px !important;
    top: 550% !important;
  }
}

@media (max-width: 275px) and (min-width: 250px) {
  #title {
    font-size: 34px !important;
    top: 515% !important;
  }
}

@media (max-width: 250px) and (min-width: 200px) {
  #title {
    font-size: 30px !important;
    top: 450% !important;
  }
}

/* slogan */
@media (max-width: 3200px) and (min-width: 2800px) {
  #slogan {
    font-size: 124px !important;
    top: 55% !important;
  }
}
@media (max-width: 2800px) and (min-width: 2500px) {
  #slogan {
    font-size: 114px !important;
    top: 52.5% !important;
  }
}

@media (max-width: 2500px) and (min-width: 2100px) {
  #slogan {
    font-size: 98px !important;
    top: 57% !important;
  }
}

@media (max-width: 2100px) and (min-width: 1800px) {
  #slogan {
    font-size: 82px !important;
    top: 57.5% !important;
  }
}

@media (max-width: 1800px) and (min-width: 1700px) {
  #slogan {
    font-size: 64px !important;
    top: 55% !important;
  }
}

@media (max-width: 1700px) and (min-width: 1600px) {
  #slogan {
    font-size: 64px !important;
    top: 53% !important;
  }
}

@media (max-width: 1600px) and (min-width: 1500px) {
  #slogan {
    font-size: 64px !important;
    top: 55% !important;
  }
}

@media (max-width: 1500px) and (min-width: 1300px) {
  #slogan {
    font-size: 58px !important;
  }
}

@media (max-width: 1300px) and (min-width: 1100px) {
  #slogan {
    font-size: 46px !important;
    top: 55% !important;
  }
}

@media (max-width: 1100px) and (min-width: 880px) {
  #slogan {
    font-size: 42px !important;
    top: 53.5% !important;
  }
}

@media (max-width: 880px) and (min-width: 850px) {
  #slogan {
    font-size: 36px !important;
    top: 51% !important;
  }
}

@media (max-width: 850px) and (min-width: 750px) {
  #slogan {
    font-size: 32px !important;
    top: 50.5% !important;
  }
}

@media (max-width: 750px) and (min-width: 650px) {
  #slogan {
    font-size: 30px !important;
    top: 50% !important;
  }
}

@media (max-width: 650px) and (min-width: 600px) {
  #slogan {
    font-size: 25px !important;
    top: 50.5% !important;
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  #slogan {
    font-size: 25px !important;
    top: 50.5% !important;
  }
}

@media (max-width: 550px) and (min-width: 500px) {
  #slogan {
    font-size: 20px !important;
    top: 50% !important;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  #slogan {
    font-size: 20px !important;
    top: 50% !important;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  #slogan {
    font-size: 17px !important;
    top: 51.5% !important;
  }
}

@media (max-width: 400px) and (min-width: 375px) {
  #slogan {
    font-size: 17px !important;
    top: 50.5% !important;
  }
}

@media (max-width: 375px) and (min-width: 350px) {
  #slogan {
    font-size: 17px !important;
    top: 51% !important;
  }
}

@media (max-width: 350px) and (min-width: 300px) {
  #slogan {
    font-size: 16px !important;
    top: 50.5% !important;
  }
}
@media (max-width: 300px) and (min-width: 275px) {
  #slogan {
    font-size: 12px !important;
    top: 52% !important;
  }
}

@media (max-width: 275px) and (min-width: 250px) {
  #slogan {
    font-size: 12px !important;
    top: 54% !important;
  }
}

@media (max-width: 250px) and (min-width: 200px) {
  #slogan {
    font-size: 9px !important;
    top: 51.5% !important;
  }
}

/* indeed  */

@media (max-width: 99999px) and (min-width: 1750px) {
  #indeed-logo {
    width: 140px !important;
    transform: translateY(-9px);
  }
}

@media (max-width: 1750px) and (min-width: 1250px) {
  #indeed-logo {
    width: 130px !important;
    transform: translateY(-8px);
  }
}

@media (max-width: 1250px) and (min-width: 1000px) {
  #indeed-logo {
    width: 130px !important;
    transform: translateY(-7px);
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  #indeed-logo {
    width: 105px !important;
    transform: translateY(-5px)
  }
}

@media (max-width: 750px) and (min-width: 700px) {
  #indeed-logo {
    width: 95px !important;
    transform: translateY(-4px)
  }
}

@media (max-width: 700px) and (min-width: 650px) {
  #indeed-logo {
    width: 95px !important;
    transform: translateY(-4px)
  }
}

@media (max-width: 650px) and (min-width: 600px) {
  #indeed-logo {
    width: 88px !important;
    transform: translateY(-3px)
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  #indeed-logo {
    width: 80px !important;
    transform: translateY(-3px)
  }
}

@media (max-width: 550px) and (min-width: 450px) {
  #indeed-logo {
    width: 73px !important;
    transform: translateY(-3px)
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  #indeed-logo {
    width: 55px !important;
    transform: translateY(-2.5px) 
  }
}

@media (max-width: 400px) and (min-width: 320px) {
  #indeed-logo {
    width: 40px !important;
    transform: translateY(-1.8px)
  }
}

@media (max-width: 320px) and (min-width: 240px) {
  #indeed-logo {
    width: 37px !important;
    transform: translateY(-1.5px)
  }
}

/* star */

@media (max-width: 99999999px) and (min-width: 200px) {
  #star {
    font-size: 100% !important;
  }
}

/* hiring banner */
#hiring-banner span:hover {
  color: #004f00 !important;
  text-decoration: underline;
}

@media (max-width: 9999px) and (min-width: 1000px) {
  #hiring-banner {
    font-size: 32px !important;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  #hiring-banner {
    font-size: 28px !important;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  #hiring-banner {
    font-size: 24px !important;
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  #hiring-banner {
    font-size: 22px !important;
  }
}

@media (max-width: 550px) and (min-width: 500px) {
  #hiring-banner {
    font-size: 20px !important;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  #hiring-banner {
    font-size: 16px !important;
  }
}

@media (max-width: 400px) and (min-width: 360px) {
  #hiring-banner {
    font-size: 16px !important;
  }
}

@media (max-width: 360px) and (min-width: 300px) {
  #hiring-banner {
    font-size: 12.5px !important;
  }
}
@media (max-width: 300px) and (min-width: 100px) {
  #hiring-banner {
    font-size: 10px !important;
  }
}


@media (max-width: 999999px) and (min-width: 0px) {
  #title, #slogan, #carousel-text {
    text-shadow: calc(3px) calc(3px) calc(5px) black;
  }
}