* {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    h1 {
      font-size: 40px;
    }
    
    h2 {
      font-size: 15.5px;
    }
    
    button {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1024px) {
    h1 {
      font-size: 48px;
    }
    
    h2 {
      font-size: 18px;
    }
    
    button {
      font-size: 20px;
    }
  }
  

.logo {
    margin-bottom: 2px;
}

.bg-body-tertiary2 {
    border-bottom: 3px solid coral;
    padding: 5px
}

